$main-hd-padding: 200px;

$main-width: 80%;
$main-max-width: 900px;

$main-hd-font-big: 700 50px 'Roboto Condensed';
$main-hd-font: 300 25px 'Roboto Condensed';
$main-hd-p-padding: 15px;

$main-art-font: 300 18px/1.5 'Roboto Condensed';
$main-art-padding: 50px;

$main-ftr-font: 300 18px#{"/"}38px 'Roboto Condensed';

%responsive {
  max-width: $main-max-width;
  width: $main-width;
  padding-left: 40px;
}

main {
  @import "../base/_global";
  background: #fff;
  color: #dcddcc;
  &.aktivni {
    margin-left: $sb-width;
    //margin-right: -$sb-width;
  }

  header {
    width: 100%;
    background: url('../img/bg/uvod.jpg') no-repeat;
    background-size: 100% auto;
    background-size: cover;
    padding: $main-hd-padding 0 $main-hd-padding/2 0;
    position: relative;
    &.domov {
      background: url('../img/bg/domov-mladeze.jpg') no-repeat;
      background-size: 100% auto;
      background-size: cover;
    }
    &.kontakt {
      background: url('../img/bg/kontakt.jpg') no-repeat;
      background-size: 100% auto;
      background-size: cover;
    }
    &.jidelna {
      background: url('../img/bg/jidelna.jpg') no-repeat;
      background-size: 100% auto;
      background-size: cover;
    }
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #fff;
      display: block;
      position: absolute;
      top: 0;
      opacity: 0.2;
    }
    p {
      @extend %responsive;
      margin: 0 auto;
      color: #212121;
      font: $main-hd-font;
      text-align: center;
      opacity: .7;
      text-transform: uppercase;
      &.big {
        font: $main-hd-font-big;
        opacity: .9;
      }
    }
  }

  section {
    @extend %responsive;
    color: #333;
    margin: 0 auto;
    text-align: justify;
    padding-left: 40px;
    article {
      padding: $main-art-padding 0;
      width: 100%;
      overflow: hidden;
      .obrazky {
        width: 100%;
        font-size: 0;
        margin: 0 auto;

        &.male {
          width: 60%;
        }

        a {
          display: inline-block;
          width: 32%;
          margin-left: 1%;
          margin-bottom: 1%;
          vertical-align: middle;

          img {
            display: block;
            width: 100%;
          }
        }
      }
      h2 {
        text-align: center;
        font: $main-hd-font;
        font-weight: 400;
        text-transform: uppercase;
      }
      p {
        font: $main-art-font;
        width: 100%;
        b {
          font-weight: 700;
          color: #cc4839;
        }
        a {
          color: $color2;
          font-weight: 400;
          border-bottom: 1px dotted $color2;
          &:hover {
            border-bottom: 1px solid $color2;
          }
        }
      }
      a.btn {
        color: #666;
        background: $color1;
        width: 200px;
        min-height: 40px;
        margin: 10px auto;
        border: 1px solid darken($color1, 20%);
        display: block;
        text-align: center;
        text-transform: uppercase;
        font: 700 18px/40px 'Roboto Condensed';
        &:hover {
          background: lighten($color1, 5%);
          border: 1px solid darken($color1, 10%);
        }
        &.one {
          color: #fff;
          background: $color2;
          border: 1px solid darken($color2, 20%);
          &:hover {
            background: lighten($color2, 5%);
            border: 1px solid darken($color2, 10%);
          }
        }
        &.two {
          color: #fff;
          background: $color3;
          border: 1px solid darken($color3, 20%);
          &:hover {
            background: lighten($color3, 5%);
            border: 1px solid darken($color3, 10%);
          }
        }
      }
      q {
        color: #777;
        padding: 5px 0 5px 15px;
        margin: 10px 0;
        border-left: 2px solid $color1;
        display: block;
        quotes: "" "";
        clear: both;
        font: 300 16px/25px 'Roboto Condensed';
        &.one {
          border-left: 2px solid $color2;
        }
        &.two {
          border-left: 2px solid $color3;
        }
      }
      h1 {

      }
    }
  }

  footer {
    background: $color1;
    border-top: 1px solid darken($color1, 10%);
    margin: 0 auto;
    height: 40px;
    padding: 0;

    p {
      @extend %responsive;
      color: #666;
      margin: 0 auto;
      font: $main-ftr-font;
      a {
        color: $color3;
        font-weight: bold;
        &:hover {
          border-bottom: 1px dashed #F04A4A;
        }
      }
    }
  }
}

